{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}
    
    <div class="image_404">
        <img src="{{ asset('/img/Page-404.png') }}">
    </div>
{% endblock %}
