{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include "FOSUserBundle:Registration:registerbycompany_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
