/*-- Index-Page-Styling --*/



body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-image : url(../img/Background.png) ;
	background-size: cover;
}

body a, body a:hover, input[type="button"], input[type="submit"], input[type="submit"]:hover {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
.w3imageaits{
	width: 60%;
	display: block;
	float: left;

}

h1 {
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	margin: 50px 0;
	color: #FFF;
}

.containerw3layouts-agileits {
	width: 58%;
	margin: 0 auto;
	padding-top: 84px;
}



.aitsloginwthree {
	background-color: #FFF;
	width: 37%;
	float: left;
	height: 71.5%;
}

h2 {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	margin: 40px 0;
}
input[type="text"]{
	padding: 15px 0 10px 0;
	width: 65%;
	border: none;
	border-bottom: 2px solid #1795a6;
	border-bottom: 2px solid #1795a6;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333;
	outline: none;
	list-style: none;
	display: inline-block;
	background: url('../img/user-icon.svg');
    background-size: 20px 45px;
    background-repeat: no-repeat;
    text-indent: 28px;
}

input[type="password"] {
	padding: 15px 0 10px 0;
	width: 65%;
	border: none;
	border-bottom: 2px solid #1795a6;
	border-bottom: 2px solid #1795a6;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333;
	outline: none;
	list-style: none;
	display: inline-block;
	background: url('../img/mdp-icon.svg');
    background-size: 20px 45px;
    background-repeat: no-repeat;
    text-indent: 28px;
	
}


ul.tick li {
	display: inline-block;
	padding: 0 20px;
}

ul.tick li input[type="checkbox"] {
	display: none;
}

ul.tick li input[type="checkbox"]+label {
	position: relative;
	padding-left: 25px;
	border: #F0F8FF;
	display: inline-block;
	font-size: 15px;
	color: #000;
}

ul.tick li input[type="checkbox"]+label span:first-child {
	width: 17px;
	height: 17px;
	display: inline-block;
	border: none;
	position: absolute;
	top: -1px;
	left: 0;
	bottom: 4px;
	background-color: #05c2f9;
}

ul.tick li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url("../images/tick.png") no-repeat;
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}

ul.tick a {
	color: #333;
}

.send-button {
	margin-bottom: 30px;
}

input[type="submit"] {
-webkit-border-radius: 0;
  -moz-border-radius: 0;
      border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #1795a6;
    padding: 10px 20px 10px 20px;
    border: none;
    width: 71%;
    text-decoration: none;
}

input[type="submit"]:hover {
	background: #3cb0fd;
  text-decoration: none;
}

/*-- Placeholder-Styling --*/
input::placeholder {
  color: #c4c9ca;
  margin-left: 20px;

}

::-webkit-input-placeholder {
	
	margin-left: 20px !important;
}

::-moz-placeholder {
	
	margin-left: 20px !important;
}

::-moz-placeholder {
	
	margin-left: 20px !important;
}

::-ms-input-placeholder {
	
	margin-left: 20px !important;
}


/*-- //Placeholder-Styling --*/













