section.content{
	margin-right: 40px;
	margin-left: 40px
}

.actions-link{
	padding: 15px 0;
}

.actions-link img{
	margin-left: 10px;
}

.align-right{
	text-align: right;
}

.align-middle{
	text-align: center;
}

.img-entreprise{
	display: inline-block;
	margin: auto;
}

.nopadding{
	padding: 0;
}

.whitebckgd{
	background-color: #fff;
}

.entrepriseheader{
	margin-bottom: 20px;
}

.entrepriseheader .banner{
	min-height: 165px;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.entrepriseheader .img-entreprise{
	width: 230px;
    height: 230px;
    margin: auto;
    background: #fff;
    margin-top: -25px;
    box-shadow: 1px 1px 5px #888888;
}

.entrepriseheader .img-entreprise img{
	width: 65%;
    margin-top: 45px;
}

.entreprise-info .picto-little{
	margin-right: 15px;
}

.first-column {
  width: 49%;
  min-height: 50px;
  float: left;
}

.first-column .col-md-12{
	padding: 0;
}

.first-column .col-md-12 .row{
	margin: 0;
}

.project-row{
	padding: 20px 0;
}

.project-row .project-action{
	text-align: center;
}

.project-good{
	
}

.project-late{
	
}

.project-critical{
	
}

.second-column {
  width: 49%;
  padding: 0 20px;
  float: right;
}

h1, h2, h3{
	color: #5ec3d7;
}

.nouvelleEntreprise{
    float: right;
    margin-right: 1%;
}

.userTitle{
	display: block;
	padding: 0 25px;
}

.userTitle h2{
	float: left;
}

.userTitle a{
	float: right;
	padding-top: 22px;
}