{% extends "::base.html.twig" %}
{% block body %}
    
<! début fiche entreprise-->
<div class="container-fiche">
    <table>
        <tr>
            <td> Nom entreprise : {{ company.raisonSocial }}</td>
            <td> Siret de l'entreprise : {{ company.siret }}</td>
            <td> Téléphone de l'entreprise : {{ company.telephone }}</td>     
        </tr>
    </table>
</div>
<! fin fiche entreprise-->
    
{% endblock %}
        