{% extends "::base.html.twig" %}
{% block body %}
    
<! debut fiche entreprise-->
<div class="container-fiche">
    <table>
        {% for comp in company %}
        <tr>
            <td> Nom entreprise : {{ comp.raisonSocial }}</td>
            <td> Siret de l'entreprise : {{ comp.siret }}</td>
            <td> Téléphone de l'entreprise : {{ comp.telephone }}</td>     
        </tr>
        {% endfor %}
    </table>
</div>
<! fin fiche entreprise-->
{% endblock %}
